.form-control:focus {
    border-color: #C23272 !important;
    box-shadow: none !important;
    outline: none !important;
}
.form-control{
    border: none;
    box-shadow: none;
    font-size:13px;
    font-weight:500;
    font-family: 'Roboto Condensed', sans-serif;
    border-radius: 3px !important;
}
.form-select:focus {
    border-color: #C23272 !important;
    box-shadow: none !important;;
}
.form-select{
    box-shadow: none;
    font-size:14px;
    font-weight:300;
    padding: 10px;
    border-radius: 0% !important;
}

.form-label{
    font-size:12px;
    font-weight:500;
    font-family: 'Roboto Condensed', sans-serif;
}

.form-label{
    font-size: 13px;
    font-weight: 400;
    font-family: 'Roboto Condensed', sans-serif;
}